<h1>Cadastro de Empresa</h1>
<p></p>
<button type="button" class="btn btn-primary" (click)="salvar()">Cadastrar</button>
<button type="button" class="btn btn-success" [routerLink]='["../empresa"]'>Voltar</button>
<p></p>
<div class="alert alert-success" *ngIf="sucesso">
  <strong>{{msg}}</strong><a href="#" class="alert-link"></a>.
</div>
<p></p>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">
      </span>
      <input type="text" class="form-control" name="Nomedocontato" [(ngModel)]="empresa.nome" placeholder="Nome da empresa" aria-describedby="sizing-addon1">
    </div>
  </div>